<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
     	 <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbBiblioteca?createDatabaseIfNotExist=true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="grupo5.entidad.Autores"/>
        <mapping class="grupo5.entidad.Bibliotecas"/>
        <mapping class="grupo5.entidad.Clientes"/>
        <mapping class="grupo5.entidad.Generos"/>
        <mapping class="grupo5.entidad.Libros"/>
        <mapping class="grupo5.entidad.Nacionalidades"/>
        <mapping class="grupo5.entidad.Prestamos"/>
          <mapping class="grupo5.entidad.Usuarios"/>
    </session-factory>
</hibernate-configuration>
